/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Teyvat';
		src: local('Teyvat'), url('/static/fonts/Teyvat-Regular.ttf') format('ttf');
	}
	@font-face {
		font-family: 'Khaenriah';
		src: local('Khaenriah'), url('/static/fonts/Khaenriah-Regular.ttf') format('ttf');
	}

	body {
		@apply text-zinc-900;
	}
}
